@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic);

img.socialMedia {
	height: 50px;
	width: 50px;
	padding-top: 5px;
	margin-top:-7px;
	margin-right: 10px;
}

img.specificPage {
	width: 100%;
	margin: auto;
	padding-bottom: 20px;
	
}

img.carrol {
	height: 300px;
}

IMG.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 82px;	
}

img.UpOutYou {
	height: 350px;
	width: 350px;
	padding-bottom: 20px;
}

div.missionstatement {
	padding-bottom: 20px;
}

div.calendarholder {
	margin: auto;
}

div.heading {
	text-align: center;
}

body {
	font-family: 'Josefin Slab', serif;
	text-color: #000000;
	font-size: 20px;
}

div.container {
	padding-top:30px;
}

img.nonspecific {
	height: 300px;
	width: 300px;
	padding-bottom: 50px;
}

h1 {
	color: #ff9400;
}

h1.center {
	text-align: center;
}

.footer{
	padding-top: 60px;
	background-color: #FFFFCC;
	padding-bottom: 5px;
	text-align: center;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 30%;
	  height: 300px;
      margin: auto;
  }
  
strong {
	color: #ff9400;
}

li.active {
	background-color: #FF9400;
}

nav.navbar {
	background-color: #FFFFCC;
}

.jumbotron{
	padding-top: 190px;
	padding-bottom: 110px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #0077DA;
	color: #F3F3F3;
	font-size: 80px;
	text-align: center;
}
.bottom {
    border-bottom: 1px solid #ff9400;
	
}