@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic);

a {
	color: #339933;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
	color: #ffc2ba;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

img.socialMedia {
	height: 50px;
	width: 50px;
	padding-top: 5px;
	margin-top:-7px;
	margin-right: 10px;
}

img.specificPage {
	width: 100%;
	margin: auto;
	padding-bottom: 20px;
}

img.carrol {
	height: 300px;
}

IMG.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-top: 82px;	
}

img.UpOutYou {
	height: 350px;
	width: 350px;
	padding-bottom: 20px;
	margin: auto;
	
}

div.missionstatement {
	padding-bottom: 20px;
}

div.calendarholder {
	margin: auto;
}

div.heading {
	text-align: center;
}

body {
	font-family: 'Josefin Slab', 'Heron Sans', serif;
	text-color: #000000;
	font-size: 20px;
}

div.container {
	padding-top:30px;
}

img.nonspecific {
	height: 300px;
	width: 300px;
	padding-bottom: 50px;
}

h1 {
	color: #339933;
}

h1.center {
	text-align: center;
}

.footer {
	padding-top: 40px;
	background-color: #66CC66;
	padding-bottom: 5px;
	text-align: center;
	color: #f3f3f3;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 30%;
	  height: 300px;
      margin: auto;
  }
  
strong {
	color: #339933;
}

nav.navbar {
	background-color: #66CC66;
	
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-nav>li>a {
	color: #f3f3f3;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active {
	color: #F3F3F3 !important;
	background-color: #339999 !important;
	border-radius: 20px 20px 0px 0px;
	
}

.jumbotron{
	padding-top: 210px;
	padding-bottom: 110px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #339999;
	color: #F3F3F3;
	font-size: 80px;
	text-align: center;
}
.bottom {
    border-bottom: 1px solid #339933;
	
}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

/*---make a basic box ---*/
.box{
width: 100px;
height: 100px;
position: relative;
margin: 10px;
color: white;
padding: 40px;  
float: left;
border: 1px solid #fff;
background: #27a5d2;
border-radius: 10px;
}

.slideup, .slidedown {
	max-height: 0;            
	overflow-y: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
.slidedown {            
	max-height: 60px ;                    
}

.affix {
  padding:0px;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  

}

.affix-top {
  padding-top:15px;
  padding-bottom:0px;
  -webkit-transition:padding 0.5s linear;
  -moz-transition:padding 0.5s linear;  
  -o-transition:padding 0.5s linear;         
  transition:padding 0.5s linear;  
}

/* http://paletton.com/#uid=72U0u0kiux42mI78JGZqovZF7tJ */